<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="login" method="post">
    <div>
      <label for="UserName"> User name</label>
    <input type="text" id="user_acc" name="UserName" placeholder="enter username">
    </div>
    <div>
      <label for="Password"> User name</label>
    <input type="text" id="user-acc" name="Password" placeholder="enter password">
    </div>
    <input type="submit" value="Login">
    </form>
  </body>
</html>
