<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

   <form action="" method="post">
    <input type="submit" value="User">
   </form>
  </body>
</html>
