<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>WELCOME TO <%= name%></h1>
      <%- table_string%>
    </div>
    <div>
      <form method="post">
        <input type="submit" value="Admin">
      </form>
    </div>
  </body>
</html>